.main-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.card-nav {
  display: flex;
  justify-content: space-between;
  color: white;
}

.card-container {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.card {
  width: 250px;
  flex-shrink: 0;
}

img {
  width: 100%;
  border-radius: 10px;
}
