.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f5f5f5;
  background-image: url(https://adarshbhukele.github.io/ReactTask-2/hero-y0v9pdBt.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  border-radius: 50px;
  width: 100%;
  padding-top: 100px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.top h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.top p {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  max-width: 600px;
}

.top button {
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #212121;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 40px;
}

.statement {
  display: flex;
  gap: 40px;
  color: white;
}

.statement p {
  font-size: 20px;
}

.img-grp {
  height: 100%;
  display: flex;
  padding: 5px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.297);
  backdrop-filter: blur(10px);
}

.img-grp img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.social-links {
  display: flex;
  gap: 20px;
}

.social-links a {
  color: white;
}
