.hori {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 50px 0px;
}

.hori button {
  padding: 20px 40px;
  background-color: white;
  border: 1px solid black;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 22px;
  color: black;
}

.hori h2 {
  width: 50%;
  font-weight: 100;
  font-size: 28px;
  line-height: 35px;
}
