* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

body {
  position: relative;
  overflow: hidden;
}

button {
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 50px;
  border: none;
  outline: none;
  z-index: 8;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: white;
  position: absolute;
}
