* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.reels-container {
  width: fit-content;
  height: 100vh;
  margin: auto;
  background-color: black;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.reels-container::-webkit-scrollbar {
  display: none;
}

.reel {
  width: 100%;
  height: 100%;
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.reel img {
  width: 100%;
  height: 100%;
}

.reel .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  bottom: 0;
  padding: 20px 20px 30px 20px;
  font-size: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.61));
}

.reel .bottom img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  /* object-position: center; */
}

.reel .top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
}

.top button {
  padding: 4px;
  background: transparent;
  border: 1px solid white;
}

.reel .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  position: absolute;
  right: 3%;
  bottom: 20%;
  font-size: 22px;
}

.right h4 {
  font-size: 18px;
}

.right > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.love {
  color: rgb(232, 40, 40);
}

.mute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(28, 24, 24);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  opacity: 0;
  transition: all 0.3s;
}
