* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  object-fit: contain;
  object-position: center;
}

main {
  height: 100vh;
  width: 100vw;
}

.reels-container {
  width: 30%;
  height: 100vh;
  margin: auto;
  background-color: black;
}

.reel {
  width: 100%;
  height: 100%;
  position: relative;
}

.reel video {
  width: 100%;
  height: 100%;
}

.reel .bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  bottom: 0;
  padding: 20px;
}

.reel .top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.reel .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  position: absolute;
  right: 0;
  bottom: 20%;
  padding: 5px;
}

.right > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
