* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

body {
  height: 200vh;
}

img {
  width: 20px;
  position: fixed;
  transform: translate(-50%, -50%);
}
