* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

.text {
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 5px solid white;
  position: relative;
}

img {
  height: 150px;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  transition: all linear 0.3s;
}

h1 {
  font-weight: 400;
  font-size: 100px;
}
