.ser1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ser1 button {
  width: fit-content;
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 10px 20px;
  border-radius: 30px;
}

.ser1 h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 40px;
}

.ser1 button:nth-child(3) {
  background-color: black;
  color: white;
}

.ser2 {
  background-image: url(https://adarshbhukele.github.io/ReactTask-2/photo3.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ser2 button {
  width: fit-content;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 22px;
  padding: 10px 20px;
  border-radius: 30px;
  backdrop-filter: blur(10px);
}

.abi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.abi p {
  font-size: 25px;
}

.abi i {
  font-size: 30px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.436);
}

.ser3 {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 20px;
}

.upper {
  background-image: url(https://adarshbhukele.github.io/ReactTask-2/photo2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.upper button {
  width: fit-content;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 22px;
  padding: 10px 20px;
  border-radius: 30px;
  backdrop-filter: blur(10px);
}

.upper h3 {
  color: white;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}

.ser3 p {
  font-size: 30px;
  width: 70%;
}

.lf-btn i {
  width: fit-content;
  font-size: 30px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 5px;
}
