* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 20px 40px;
}

a {
  text-decoration: none;
}
