* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100vh;
  width: 100%;
  background-color: rgb(41, 41, 41);
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 300px;
  border-radius: 20px;
}

.card {
  width: 275px;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
  gap: 10px;
}

.card h3 {
  font-weight: 400;
  color: crimson;
}

.card button {
  padding: 15px 25px;
  background-color: rgb(5, 196, 5);
  color: white;
  cursor: pointer;
  border-radius: 20px;
}
