.facts {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.facts > h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 100;
}

.fact-no {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fact-no h1 {
  text-align: center;
  font-size: 28px;
  color: #333;
}

.fact-no p {
  font-size: 20px;
  color: #666;
}
