* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  cursor: pointer;
}

html,
body {
  width: 100%;
  height: 100%;
}

@mixin flex-center($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

section {
  max-width: 1200px;
}

main {
  width: 100%;
  @include flex-center();
  align-items: center;

  .outer {
    width: 100%;
    display: flex;
    justify-content: center;
    section.view1 {
      width: 100%;
      @include flex-center(3rem);
      padding: 3rem 1.5rem;

      .top {
        @include flex-center(3.5rem);

        h1 {
          font-size: 2.9rem;
          text-align: center;
          font-weight: 700;
        }
      }

      .bottom {
        font-size: 2.2rem;
        text-align: center;
      }
    }
  }
  .outer {
    section.view2 {
      width: 100%;
      @include flex-center(2.5rem);
      padding: 3rem 1.5rem;

      .cards {
        width: 100%;
        @include flex-center(2rem);
        border-top: 5px solid #edecec;
        padding: 3rem 0;

        p {
          font-size: 1.2rem;
          color: rgb(87, 87, 87);
          margin-bottom: 2.5rem;
        }
      }
    }
  }

  .outer {
    section.view3 {
      width: 100%;
      padding: 3rem 1.5rem;
      @include flex-center(3rem);

      .top {
        img {
          width: 100%;
        }
      }

      .bottom {
        @include flex-center(0.9rem);

        h3 {
          color: rgb(81, 80, 80);
        }

        h1 {
          font-size: 3rem;
          font-weight: 700;
        }

        p {
          font-size: 1.2rem;
          color: rgb(104, 104, 104);
          margin: 1rem 0;
        }

        .btns {
          @include flex-center(1rem);

          button {
            width: fit-content;
            padding: 10px 30px;
            color: blue;
            border: 1px solid blue;
            background-color: white;
            border-radius: 30px;
            font-weight: 500;
            outline: none;
            transition: all 0.5s;
          }

          button:nth-child(1):hover {
            background-color: blue;
            color: white;
          }

          button:nth-child(2) {
            border: none;
            color: black;
          }
        }
      }
    }
  }
  .outer {
    section.view4 {
      width: 100%;
      padding: 5rem 1.5rem;
      @include flex-center(3rem);

      .top {
        img {
          width: 100%;
        }
      }

      .bottom {
        @include flex-center(0.9rem);

        h3 {
          color: rgb(81, 80, 80);
        }

        h1 {
          font-size: 3rem;
          font-weight: 700;
        }

        p {
          font-size: 1.2rem;
          color: rgb(104, 104, 104);
          margin: 1rem 0;
        }

        .btns {
          @include flex-center(1rem);

          button {
            width: fit-content;
            padding: 10px 30px;
            background-color: blue;
            color: white;
            border-radius: 30px;
            font-weight: 500;
            outline: none;
            border: none;
          }
        }
      }
    }
  }
  .outer {
    section.view5 {
      width: 100%;
      padding: 5rem 1.5rem;
      @include flex-center(3rem);

      .top {
        img {
          width: 100%;
        }
      }

      .bottom {
        @include flex-center(0.9rem);

        h3 {
          color: rgb(81, 80, 80);
        }

        h1 {
          font-size: 3rem;
          font-weight: 700;
        }

        p {
          font-size: 1.2rem;
          color: rgb(104, 104, 104);
          margin: 1rem 0;
        }

        .btns {
          @include flex-center(1rem);

          button {
            width: fit-content;
            padding: 10px 30px;
            border: 1px solid blue;
            background-color: white;
            color: blue;
            border-radius: 30px;
            font-weight: 500;
            outline: none;
          }

          button:hover {
            background-color: blue;
            color: white;
          }
        }
      }
    }
  }
  .outer {
    section.view5:nth-child(2) {
      background-color: white;
    }
  }
  .outer {
    section.view6 {
      width: 100%;
      padding: 5rem 1.5rem;

      .banner {
        padding: 5rem 3rem;
        border-radius: 40px;
        @include flex-center(2rem);
        background-image: url(https://github.com/Keshab23nm/extra/blob/master/flutter/lastpart.png?raw=true);
        background-color: rgb(33, 33, 89);
        background-position: center;
        background-size: cover;
        color: white;

        h1 {
          font-size: 3rem;
        }

        p {
          font-size: 1.2rem;
        }

        .btns {
          button {
            padding: 10px 30px;
            border-radius: 50px;
            color: blue;
            background-color: white;
            border: none;
            outline: none;
            font-weight: 700;
          }

          button:nth-child(2) {
            background-color: transparent;
            color: white;
          }
        }
      }
    }
  }
  .outer {
    section.view7 {
      @include flex-center(5rem);
      padding: 5rem 4rem;
      max-width: 100%;

      .top {
        @include flex-center(2rem);

        .navigate {
          @include flex-center(2rem);

          .links {
            @include flex-center(1rem);

            p {
              color: gray;
            }
          }
        }
      }

      .bottom {
        @include flex-center(2rem);

        .first {
          display: flex;
          justify-content: space-around;
          align-items: center;

          i {
            font-size: 1.3rem;
            color: rgb(83, 83, 83);
          }
        }

        .second {
          @include flex-center(1rem);

          p {
            text-align: center;
            color: gray;
          }

          .terms {
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

  .outer:nth-child(1) {
    background: linear-gradient(35deg, #fcdde8, #f3fcff 60%);
  }
  .outer:nth-child(4) {
    background: linear-gradient(35deg, #fcfce2 40%, #f5fbfe 90%);
  }
  .outer:nth-child(6) {
    background: linear-gradient(35deg, #fcfce2 40%, #f5fbfe 90%);
  }
  .outer:nth-child(8) {
    width: 100%;
    background-color: rgb(249, 249, 249);
  }
}

@media (min-width: 1000px) {
  main {
    .outer {
      section.view1 {
        padding: 4.375rem;
        .top {
          flex-direction: row-reverse;
          align-items: center;

          img,
          h1 {
            width: 50%;
            text-align: left;
          }
          h1 {
            font-size: 3.75rem;
          }
        }
      }
    }

    .outer {
      section.view2 {
        flex-direction: row;

        .cards {
          width: 33%;

          img {
            width: 100%;
          }
        }
      }
    }

    .outer {
      section.view3 {
        flex-direction: row-reverse;
        align-items: center;
        .top,
        .bottom {
          width: 50%;
          h1 {
            font-size: 3.75rem;
          }
          .btns {
            flex-direction: row;
          }
        }
      }
    }

    .outer {
      section.view4 {
        flex-direction: row;
        align-items: center;

        .top,
        .bottom {
          width: 50%;

          h1 {
            font-size: 3.75rem;
          }
        }
      }
    }

    .outer {
      section.view5 {
        flex-direction: row-reverse;
        align-items: center;

        .top,
        .bottom {
          width: 50%;

          h1 {
            font-size: 3.75rem;
          }
        }
      }
    }

    .outer:nth-child(6) {
      section.view5 {
        flex-direction: row;
      }
    }

    .outer {
      section.view6 {
        .banner {
          h1 {
            font-size: 3.75rem;
          }
        }
      }
    }

    .outer {
      section.view7 {
        min-width: 100%;
        .top {
          flex-direction: row;

          .logo,
          .navigate {
            width: 50%;
          }

          .navigate {
            flex-direction: row;

            .links {
              width: 33%;
            }
          }
        }

        .bottom {
          .first {
            justify-content: flex-start;
            gap: 1rem;
          }
          .second {
            flex-direction: row;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
